* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'IBM Plex Sans KR', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

/* 상단 */
header {
	height: 100px;
	margin: auto;
	margin-bottom: 30px;
	top: 0;
	width: 100%;
	line-height: middle;
}

header nav .header_nav_menu a {
	color: #787878;
}
header .navbar-dark .navbar-brand{
	font-weight : bold;
	color: #333;
	font-size: 25px;
}
header .navbar-brand img {
	width: 50px;
	height: 50px;
	display: inline-block;
}

.header_main {
	margin-top: 20px;
	display: inline-block;
}

.header_main>img {
	width: 50px;
	height: 50px;
	display: inline-block;
}

.header_main_name {
	display: inline-block;
}

.header_nav_menu {
	float: right;
}

.header_nav_menuitem {
	display: inline-block;
	margin-right: 10px;
	height: 100px;
	line-height: 100px;
}

/* 상단 종료 */

/* 메인 부분 시작 */
.content {
	max-width: 1500px;
	width: calc(100% - 120px);
	margin: auto;
}

.content_top {
	height: 600px;
}

.content_top .slide, .content_top .slide img {
	width: 100%;
	height: 100%;
}

.slide1 {
	background-image: url(../img/mainimg1.jpg);
	background-size: cover;
}

.slide2 {
	background-image: url(../img/mainimg2.jpg);
	background-size: cover;
}

.slide3 {
	background-image: url(../img/mainimg3.jpg);
	background-size: cover;
}

/* 슬라이드 */
.slideshow-container {
	position: relative;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -40px;
	font-weight: bold;
	font-size: 18px;
	color: white;
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

.content_left {
	float: left;
	height: 100%;
	width: 49.5%;
	display: inline-block;
	background: url(../img/search.png) no-repeat;
	background-size: cover;
	border-radius: 20px;
}

.content_right {
	float: right;
	height: 100%;
	width: 49.5%;
	display: inline-block;
}

.content_left img {
	height: 99%;
	width: 100%;
	object-fit: fill;
}

.content_right>img {
	height: 99%;
	width: 100%;
	object-fit: fill;
}

/* 메인 부분 종료 */

/* **************** Footer Area Start **************** */
footer {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	height: 130px;
	margin-top: 50px;
}

footer .realty_site .logo_img {
	height: 100%;
	width: 80px;
}

footer .realty_site .logo_img img {
	height: 100%;
	width: 100%;
	display: block;
}

footer .move, footer .text-right{
	line-height:53px;
}

footer .realty_site ul li:nth-child(1) .logo_img img {
	margin-top: 30px;
}

footer .realty_site ul li:nth-child(2) .logo_img img {
	margin-top: 32px;
}

footer .realty_site ul li:nth-child(3) .logo_img img {
	width: 110px;
	margin-top: 35px;
}

footer>div>p {
	height: 30px;
	float: right;
	color: #787878;
}