<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.model.mapper.CommentMapper">
	 <insert id="create" parameterType="com.ssafy.happyhouse.model.dto.CommentDto">
	 INSERT INTO
		comment_TB(cno, nno, cwriter,ccontent,cdate)
		VALUES(#{cno},#{nno},#{cwriter},#{ccontent}, NOW())
	 </insert>
	 
	  <select id="list" resultType="com.ssafy.happyhouse.model.dto.CommentDto">
        select cno, nno, cwriter, ccontent, cdate
        from comment_tb
        where nno = #{nno}
    </select>
    
        <!-- 댓글 내용 수정 -->
    <update id="modify" parameterType="com.ssafy.happyhouse.model.dto.CommentDto">
        update comment_tb
        set ccontent = #{ccontent}
        where cno = #{cno}
    </update>
    
   <delete id="delete">
   	delete
		from comment_tb
		where cno =
		#{cno}
   </delete>

</mapper>