<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ssafy.happyhouse.model.mapper.HouseDealMapper">
	<select id="selectDongDeal"
		resultType="com.ssafy.happyhouse.model.dto.HouseDeal">
		select hi.aptName, hi.dongName, hd.dealAmount, hd.aptCode,
		hi.lat, hi.lng, hd.no
		from housedeal hd join houseinfo hi
		on hd.aptCode = hi.aptCode
		where hi.dongName = #{dongName}
	</select>

	<select id="selectAptDeal"
		resultType="com.ssafy.happyhouse.model.dto.HouseDeal">
		select hi.aptName, hi.dongName, hd.dealAmount, hd.aptCode,
		hi.lat, hi.lng, hd.no
		from housedeal hd join houseinfo hi
		on hd.aptCode = hi.aptCode
		where hi.aptName like CONCAT('%', #{aptName},
		'%')
	</select>

	<select id="selectDongAptName"
		resultType="com.ssafy.happyhouse.model.dto.HouseDeal">
		select hi.aptName, hi.dongName, hd.dealAmount, hd.aptCode,
		hi.lat, hi.lng, hd.no
		from housedeal hd join houseinfo hi
		on hd.aptCode = hi.aptCode
		where hi.aptName like CONCAT('%', #{aptName},
		'%')
		and hi.dongName = #{dongName}
	</select>

</mapper>