<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ssafy.happyhouse.model.mapper.HouseDealMapper">
	
	<!-- <select id="selectSidoApt" parameterType="String" resultType="com.ssafy.happyhouse.model.dto.HouseDealDto">
		select d.dealAmount , d.dealYear, d.dealMonth, d.dealDay, d.area, d.floor, d.aptCode, i.buildYear, i.dongCode, i.apartmentName, i.lat, i.lng
		from houseDeal as d join houseinfo as i
		on d.aptcode = i.aptcode
		where d.dealyear =2022 and d.dealmonth = 4  and left(i.dongcode,2) = #{sidocode}; 
	</select> -->
	
	
	<!-- 시도 구군 검색 -->
	<select id="selectSidoGugunApt" resultType="com.ssafy.happyhouse.model.dto.HouseDealDto">
		select ANY_VALUE(i.dong)as dong,ANY_VALUE(min(cast(replace(d.dealAmount,',','') as unsigned))) as min, ANY_VALUE(max(cast(replace(d.dealAmount,',','') as unsigned))) as max, ANY_VALUE(d.dealAmount) as dealAmount, ANY_VALUE(d.dealYear) as dealYear, ANY_VALUE(d.dealMonth) as dealMonth, ANY_VALUE(d.dealDay) as dealDay, ANY_VALUE(d.area) as area, ANY_VALUE(d.floor) as floor, ANY_VALUE(d.aptCode) as aptCode, ANY_VALUE(i.buildYear) as buildYear, ANY_VALUE(i.dongCode) as dongCode, i.apartmentName, ANY_VALUE(i.lat) as lat, ANY_VALUE(i.lng) as lng
		from houseDeal as d join houseinfo as i
		on d.aptcode = i.aptcode
		where left(i.dongcode,5) = #{guguncode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice} 
		group by i.aptcode
		limit #{page},10;
	</select>
	
	<select id="selectSidototal" resultType="int">
		select count(*) 
	 	from (
	        select count(i.aptcode) as count
	        from houseDeal as d join houseinfo as i
	        on d.aptcode = i.aptcode
	        where left(i.dongcode,5) = #{guguncode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice}
	        group by i.aptcode
	    ) as t;
	</select>
	
	<!-- 시도 구군 동 검색  -->
	<select id="selectDongApt" resultType="com.ssafy.happyhouse.model.dto.HouseDealDto">
        select ANY_VALUE(i.dong)as dong,ANY_VALUE(min(cast(replace(d.dealAmount,',','') as unsigned))) as min, ANY_VALUE(max(cast(replace(d.dealAmount,',','') as unsigned))) as max, ANY_VALUE(d.dealAmount) as dealAmount, ANY_VALUE(d.dealYear) as dealYear, ANY_VALUE(d.dealMonth) as dealMonth, ANY_VALUE(d.dealDay) as dealDay, ANY_VALUE(d.area) as area, ANY_VALUE(d.floor) as floor, ANY_VALUE(d.aptCode) as aptCode, ANY_VALUE(i.buildYear) as buildYear, ANY_VALUE(i.dongCode) as dongCode, i.apartmentName, ANY_VALUE(i.lat) as lat, ANY_VALUE(i.lng) as lng
		from houseDeal as d join houseinfo as i
		on d.aptcode = i.aptcode
		where i.dongcode = #{dongcode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice}
		group by i.aptcode
		limit #{page},10;
	</select>
	
	<select id="selectDongApttotal" resultType="int">
		select count(*) 
	 	from (
	        select count(i.aptcode) as count
	        from houseDeal as d join houseinfo as i
	        on d.aptcode = i.aptcode
	        where i.dongcode = #{dongcode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice}
	       	group by i.aptcode
	    ) as t;
	</select>
	
	<!-- 시도 구군 아파트 이름검색 -->
	
	<select id="selectAptname" resultType="com.ssafy.happyhouse.model.dto.HouseDealDto">
        select ANY_VALUE(i.dong)as dong,ANY_VALUE(min(cast(replace(d.dealAmount,',','') as unsigned))) as min, ANY_VALUE(max(cast(replace(d.dealAmount,',','') as unsigned))) as max, ANY_VALUE(d.dealAmount) as dealAmount, ANY_VALUE(d.dealYear) as dealYear, ANY_VALUE(d.dealMonth) as dealMonth, ANY_VALUE(d.dealDay) as dealDay, ANY_VALUE(d.area) as area, ANY_VALUE(d.floor) as floor, ANY_VALUE(d.aptCode) as aptCode, ANY_VALUE(i.buildYear) as buildYear, ANY_VALUE(i.dongCode) as dongCode, i.apartmentName, ANY_VALUE(i.lat) as lat, ANY_VALUE(i.lng) as lng
		from houseDeal as d join houseinfo as i
        on d.aptcode = i.aptcode
        where left(i.dongcode,5) = #{guguncode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice} and i.apartmentname like CONCAT('%', #{aptname}, '%') 
        group by i.aptcode
        limit #{page},10; 
	</select>
	
	<select id="selectAptnametotal" resultType="int">
		select count(*) 
	 	from (
	        select count(i.aptcode) as count
	        from houseDeal as d join houseinfo as i
	        on d.aptcode = i.aptcode
	        where left(i.dongcode,5) = #{guguncode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice} and i.apartmentname like CONCAT('%', #{aptname}, '%')
	        group by i.aptcode
       	) as t;
	</select>
	
	<!-- 시도 구군 동 아파트 이름 검색 -->
	
	<select id="selectApt" resultType="com.ssafy.happyhouse.model.dto.HouseDealDto">
        select ANY_VALUE(i.dong)as dong,ANY_VALUE(min(cast(replace(d.dealAmount,',','') as unsigned))) as min, ANY_VALUE(max(cast(replace(d.dealAmount,',','') as unsigned))) as max, ANY_VALUE(d.dealAmount) as dealAmount, ANY_VALUE(d.dealYear) as dealYear, ANY_VALUE(d.dealMonth) as dealMonth, ANY_VALUE(d.dealDay) as dealDay, ANY_VALUE(d.area) as area, ANY_VALUE(d.floor) as floor, ANY_VALUE(d.aptCode) as aptCode, ANY_VALUE(i.buildYear) as buildYear, ANY_VALUE(i.dongCode) as dongCode, i.apartmentName, ANY_VALUE(i.lat) as lat, ANY_VALUE(i.lng) as lng
		from houseDeal as d join houseinfo as i
        on d.aptcode = i.aptcode
        where i.dongcode = #{dongcode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice} and i.apartmentname like CONCAT('%', #{aptname}, '%')
        group by i.aptcode limit #{page},10; 
	</select>
	
	<select id="selectApttotal" resultType="int">
		select count(*) 
	 	from (
	        select count(i.aptcode) as count
	        from houseDeal as d join houseinfo as i
	        on d.aptcode = i.aptcode
	        where i.dongcode = #{dongcode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice} and i.apartmentname like CONCAT('%', #{aptname}, '%')
	        group by i.aptcode
        ) as t;
	</select>
	
	<!-- 아파트 상세 -->
	<select id="selectDetail" resultType="com.ssafy.happyhouse.model.dto.HouseDealDto">
		select ANY_VALUE(i.dong)as dong,ANY_VALUE(d.dealAmount) as dealAmount, ANY_VALUE(d.dealYear) as dealYear, ANY_VALUE(d.dealMonth) as dealMonth, ANY_VALUE(d.dealDay) as dealDay, ANY_VALUE(d.area) as area, ANY_VALUE(d.floor) as floor, ANY_VALUE(d.aptCode) as aptCode, ANY_VALUE(i.buildYear) as buildYear, ANY_VALUE(i.dongCode) as dongCode, i.apartmentName, ANY_VALUE(i.lat) as lat, ANY_VALUE(i.lng) as lng
		from houseDeal as d join houseinfo as i
		on d.aptcode = i.aptcode
		where i.aptcode = #{aptCode}
		order by dealYear desc
		limit 1, 10;
	</select>
	
	<!-- 2022.4월 거래 상위 10 -->
	<select id="selectDeal" resultType="com.ssafy.happyhouse.model.dto.HouseDealTopTenDto">
		select *
		from 
		(select count(d.aptCode) as count, ANY_VALUE(i.dongCode) as dongcode, ANY_VALUE(min(cast(replace(d.dealAmount,',','') as unsigned))) as min, ANY_VALUE(max(cast(replace(d.dealAmount,',','') as unsigned))) as max
		from housedeal d join houseinfo i
		on d.aptCode = i.aptCode
		where d.dealYear = 2022 and d.dealMonth = 4
		group by d.aptCode
		order by count desc
		limit 10) as a
		join (
		select sidoName, gugunName, dongName, dongcode
		from dongcode ) as b
		where a.dongcode = b.dongcode;
	</select>

</mapper>