<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ssafy.happyhouse.model.mapper.HouseDealMapper">
	
	<!-- <select id="selectSidoApt" parameterType="String" resultType="com.ssafy.happyhouse.model.dto.HouseDealDto">
		select d.dealAmount , d.dealYear, d.dealMonth, d.dealDay, d.area, d.floor, d.aptCode, i.buildYear, i.dongCode, i.apartmentName, i.lat, i.lng
		from houseDeal as d join houseinfo as i
		on d.aptcode = i.aptcode
		where d.dealyear =2022 and d.dealmonth = 4  and left(i.dongcode,2) = #{sidocode}; 
	</select> -->
	
	
	<!-- 시도 구군 검색 -->
	
	<select id="selectSidoGugunApt" resultType="com.ssafy.happyhouse.model.dto.HouseDealDto">
		select d.dealAmount , d.dealYear, d.dealMonth, d.dealDay, d.area, d.floor, d.aptCode, i.buildYear, i.dongCode, i.apartmentName, i.lat, i.lng
		from houseDeal as d join houseinfo as i
        on d.aptcode = i.aptcode
        where left(i.dongcode,5) = #{guguncode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice} limit #{page},10; 
	</select>
	
	<select id="selectSidototal" resultType="int">
        select count(*) as count
        from houseDeal as d join houseinfo as i
        on d.aptcode = i.aptcode
        where left(i.dongcode,5) = #{guguncode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice};
	</select>
	
	<!-- 시도 구군 동 검색  -->
	
	<select id="selectDongApt" resultType="com.ssafy.happyhouse.model.dto.HouseDealDto">
		select d.dealAmount , d.dealYear, d.dealMonth, d.dealDay, d.area, d.floor, d.aptCode, i.buildYear, i.dongCode, i.apartmentName, i.lat, i.lng
		from houseDeal as d join houseinfo as i
        on d.aptcode = i.aptcode
        where i.dongcode = #{dongcode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice} limit #{page},10; 
	</select>
	
	<select id="selectDongApttotal" resultType="int">
        select count(*) as count
        from houseDeal as d join houseinfo as i
        on d.aptcode = i.aptcode
        where i.dongcode = #{dongcode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice};
	</select>
	
	<!-- 시도 구군 아파트 이름검색 -->
	
	<select id="selectAptname" resultType="com.ssafy.happyhouse.model.dto.HouseDealDto">
		select d.dealAmount , d.dealYear, d.dealMonth, d.dealDay, d.area, d.floor, d.aptCode, i.buildYear, i.dongCode, i.apartmentName, i.lat, i.lng
		from houseDeal as d join houseinfo as i
        on d.aptcode = i.aptcode
         where left(i.dongcode,5) = #{guguncode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice} and i.apartmentname like CONCAT('%', #{aptname}, '%') limit #{page},10; 
	</select>
	
	<select id="selectAptnametotal" resultType="int">
        select count(*) as count
        from houseDeal as d join houseinfo as i
        on d.aptcode = i.aptcode
        where left(i.dongcode,5) = #{guguncode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice} and i.apartmentname like CONCAT('%', #{aptname}, '%');
	</select>
	
	<!-- 시도 구군 동 아파트 이름 검색 -->
	
	<select id="selectApt" resultType="com.ssafy.happyhouse.model.dto.HouseDealDto">
		select d.dealAmount , d.dealYear, d.dealMonth, d.dealDay, d.area, d.floor, d.aptCode, i.buildYear, i.dongCode, i.apartmentName, i.lat, i.lng
		from houseDeal as d join houseinfo as i
        on d.aptcode = i.aptcode
         where i.dongcode = #{dongcode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice} and i.apartmentname like CONCAT('%', #{aptname}, '%') limit #{page},10; 
	</select>
	
	<select id="selectApttotal" resultType="int">
        select count(*) as count
        from houseDeal as d join houseinfo as i
        on d.aptcode = i.aptcode
        where i.dongcode = #{dongcode} and i.buildyear >= #{buildyear} and replace(d.dealAmount,',','') >= #{aptprice} and i.apartmentname like CONCAT('%', #{aptname}, '%');
	</select>

</mapper>