<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.model.mapper.UserMapper">

	<select id="idCheck" parameterType="string" resultType="int">
		select count(uid)
		from user_tb
		where uid = #{uid}
	</select>
	
	<insert id="registerMember" parameterType="com.ssafy.happyhouse.model.dto.UserDto">
		insert into user_tb (uid, upass, uname, ubirth, ugender,uadd)
		values (#{uid}, #{upass}, #{uname}, #{ubirth}, #{ugender},#{uadd})
	</insert>
	
	<select id="login" parameterType="map" resultType="com.ssafy.happyhouse.model.dto.UserDto">
		select *
		from user_tb
		where uid = #{uid} and upass = #{upass}
	</select>
	
	<delete id="userDelete" parameterType="String">
		delete
		from user_tb
		where uid = #{uid}
	</delete>
	
	<update id="userUpdate" parameterType="com.ssafy.happyhouse.model.dto.UserDto">
		UPDATE user_tb 
		set upass = #{upass}, uname= #{uname},uadd= #{uadd}
		where uid = #{uid}
	</update>

</mapper>